/*.navigation {
 width:99%;
 height: 100px;
 background-color: black;
}
*/
/*
ul.navigation {
font-weight: bold;
color: #FFFFFF;
background-color: #98bf21;
text-align: center;
padding: 4px;
text-decoration: none;
text-transform: uppercase;
}

ul
{
list-style-type:none;
margin:0;
padding:0;
}
*/
/*
a
{
display:block;
width:60px;
}*/

/*
ul.menu > li 
{
font-weight: bold;
color: #FFFFFF;
background-color: #98bf21;
display:inline;
}


ul.menu > li:hover
{
background-color: #00CC00;
display:inline;
}

ul.menu > li > a:link , ul.menu > li > a:visited 
{
text-decoration: none;
text-transform: uppercase;
color: #FFFFFF;
text-align: center;
}

ul.menu > li > ul.menu
{
display:none;
}
*/

/*
ul > li> ul {
 display: none
}
*/


.navigation {
  background-color:#2C5463;
  height:40px;
}
 
 
ul {
  font-family: Arial, Verdana;
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
 
ul > li {
  display: block;
  position: relative;
  float: left;
 
}
 
li > ul { 
  display: none; 
}
 
ul > li > a {
  display: block;
  text-decoration: none;
  padding: 7px 15px 3px 15px;
  background: #2C5463;
  color: #ffffff;  
  margin-left: 1px;
  white-space: nowrap;
  height:30px; 
  width:90px;
  text-align:center;
 
}
 
ul > li > a:hover 
{ 
  background: #617F8A; 
}
 
li:hover > ul {
  display: block;
  position: absolute;
  height:30px;
}
 
li:hover > li {
  float: none;
  font-size: 11px;
 
}
 
li:hover > a { 
  background: #3A464F; 
  height:30px; 
}
 
li:hover > li > a:hover { 
  background: #95A9B1; 
}
 
ul > li > ul > li > a {
    text-align:left; 
}
 