<!DOCTYPE html>
<html>
  <head>
    <title>Egna-i</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../css/default.css">
  </head>
  <body>
    <nav> 
		<ul>
			<li>
				<a href="#">Inicio</a>
			</li>
			<li>
				<a href="#">Serviços</a>
				<ul>
					<li>
						<a href="#">Lavandaria</a>
					</li>
					<li>
						<a href="#">Engomadoria</a>
					</li>
					<li>
						<a href="#">Apoio ao Estudo</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Contatos</a>
			</li>
		</ul>
	</nav>
<div id="content">
    <div id="startup"></div>
    <div id="servicos.lavandaria"></div>
    <div id="servicos.engomadoria"></div>
    <div id="servico.apoioestudo"></div>
    <div id="contatos"></div>
</div>
  </body>

</html>